# Please make sure that .gitignore follows the svn:ignore properties
# Find them using these commands:
# svn propget svn:ignore * 2>/dev/null
# svn propget svn:ignore */* 2>/dev/null
# svn propget svn:ignore */*/* 2>/dev/null
# svn propget svn:ignore */*/*/* 2>/dev/null
# svn propget svn:ignore */*/*/*/* 2>/dev/null
# ...

composer.lock
oidplus_version.txt
.version.php
update.tmp.php
update_*.tmp.php

# Recommendation in https://phpstan.org/config-reference
# "The usual practice is to have phpstan.neon.dist under version control,
# and allow the user to override certain settings in their environment
# (on their own computer or on a continuous integration server) by creating
# phpstan.neon that's present in .gitignore file."
phpstan.neon

# (ViaThinkSoft internal)
dev/oidplus_1_with_token.html

# (deprecated)
includes/config.inc.php

# (deprecated)
plugins/viathinksoft/publicPages/000_objects/welcome.local.html

userdata/attachments/*
!userdata/attachments/info.txt
!userdata/attachments/oidplus_upload.dir

userdata/baseconfig/*
!userdata/baseconfig/info.txt

userdata/cache/*
!userdata/cache/info.txt

userdata/database/*
!userdata/database/info.txt

userdata/favicon/*
!userdata/favicon/info.txt

userdata/logs/*
!userdata/logs/info.txt

userdata/private/*
!userdata/private/info.txt

userdata/resources/*
!userdata/resources/info.txt

userdata/secret/*
!userdata/secret/info.txt

userdata/styles/*
!userdata/styles/info.txt

userdata/tenant/*
!userdata/tenant/info.txt

userdata/welcome/welcome.html
!userdata/welcome/info.txt
