parameters:
	level: 5
	paths:
		- .
	excludePaths:
		analyse:
			- vendor
		analyseAndScan:
			- userdata/cache/phpstan
	tmpDir: userdata/cache/phpstan
	bootstrapFiles:
		- includes/oidplus.inc.php
	ignoreErrors:
		- '#is always (true|false)\.#'
		- '#Call to function assert\(\) with false will always evaluate to false\.#'
		#- '#with no typehint specified\.#'
