parameters:
	level: 1
	paths:
		- .
	excludePaths:
		analyse:
			- 3p
			- includes/classes/http_class.class.php
			- includes/classes/phpsvnclient.class.php
		analyseAndScan:
			- userdata/cache/phpstan
	tmpDir: userdata/cache/phpstan
	bootstrapFiles:
		- includes/oidplus.inc.php
