<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<!-- This config file is for Microsoft Internet Information Services -->
<!-- It is the replacement for the .htaccess files to protect directories from being accessed through HTTP -->

<system.webServer>
	<directoryBrowse enabled="false" />
</system.webServer>

<location path="dev">
	<system.webServer>
		<security>
			<authentication>
				<!--
				To "unlock" this section, run this command:
				%windir%\system32\inetsrv\appcmd.exe unlock config -section:system.webServer/security/authentication/anonymousAuthentication
				-->
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</location>

<location path="includes">
	<system.webServer>
		<security>
			<authentication>
				<!--
				To "unlock" this section, run this command:
				%windir%\system32\inetsrv\appcmd.exe unlock config -section:system.webServer/security/authentication/anonymousAuthentication
				-->
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</location>

<location path="plugins/publicPages/100_whois/whois/cli">
	<system.webServer>
		<security>
			<authentication>
				<!--
				To "unlock" this section, run this command:
				%windir%\system32\inetsrv\appcmd.exe unlock config -section:system.webServer/security/authentication/anonymousAuthentication
				-->
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</location>

</configuration>
